body{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Початок хідера*/
header{
    background-color: #2bba13;
    height: 100px;
}
header>div{
    margin: auto;
}
header img{
    height: 80px;
    margin-top: 10px;
}
/*кінець хідера*/
/*Секція з бекграундом*/
#backgroundsection{
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}
